<ul>
  <li><a routerLink="error">error</a></li>
  <li><a routerLink="control-flow">control-flow</a></li>
  <li><a routerLink="life-cycle">life-cycle</a></li>
  <li><a routerLink="data-binding">data-binding</a></li>
  <li><a routerLink="directive">directive</a></li>
  <li><a routerLink="reactive-form">reactive-form</a></li>
  <li><a routerLink="form-module">form-module</a></li>
  <li><a routerLink="observable">observable</a></li>
  <li><a routerLink="guard">guard</a></li>
  <li><a routerLink="http">http</a></li>
</ul>

<router-outlet />
